<!DOCTYPE html>
<html>
<body>
        {% block body %}
        <div id="data">
                <p id="hist">Histogram goes here</p>
            <script>
                let counts = JSON.parse('{{ counts | tojson }}');
                let keys = JSON.parse('{{ keys | tojson }}');
                let str = "";
                for(i in keys) {
                    let count = counts[keys[i]];
                    let unit = "&#42";
                    str += keys[i] + " " + unit.repeat(count) + "<br>";
                }
                document.getElementById("hist").innerHTML = str;
            </script>
        </div>
        {% endblock %}

        
</body>
</html>
