<!doctype html>

<html lang="en">
<head>
    <title>Ethereum</title>
    <!-- I use these for making my site look fancy - yay bootstrap! -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- Found this nifty trick in the flask documentation http://flask.pocoo.org/docs/1.0/api/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <section id="header">
        <h1>Ethereum</h1>
        <!-- I found the table layout on this page: https://getbootstrap.com/docs/4.3/content/tables/ 
            which I use throughout the project. 
        -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Home</span></a>
                </div>
                
                <!-- I found how to make the navbar here: https://getbootstrap.com/docs/4.0/components/navbar/ -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/price">Price</a></li>
                        <li>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false">View<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/search/Account">Account</a></li>
                                        <li><a href="/search/Block">Block</a></li>
                                        <li><a href="/search/Transaction">Transaction</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/peer">Peer Review</a></li>
                    </ul>
                </div>
            </div>
          </nav>
      </section>

    <section id="main">
        <!-- example came from here https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns_responsive-->
        <div class="row">
            <div class="column left">{% block left_content %}{% endblock %}</div>
            <div class="column right">{% block right_content %}{% endblock %}</div>
        </div>
    </section>
</body>
</html>