{% extends 'base.html' %}
{% block left_content %}
<h3>Left from block!</h3>
{% endblock %}
{% block right_content %}
<h3>Account balance: {{ value }} ETH.</h3>
<div style="overflow-x:auto; overflow-y:auto; height: 600px">
    <h3 style="text-align: center"><strong>Transactions</strong></h3>
    <table class="table table-hover">
            <thead>
                
                <tr>
                    <td style="text-align: center"><h5>Tx Hash</h5></td>
                    <td style="text-align: center"><h5>Amount</h5></td>
                </tr>
            </thead>
            <tbody>
            {% for item in transactions %}
                <tr>
                        <td><a href="/transaction/{{item}}">{{ item|truncate(20)}}</a></td>
                        <td>{{ transactions[item] }} Eth</td>
                </tr>
            {% endfor %}
            </tbody>

            

    </table>
</div>


{% endblock %}