{% extends 'base.html' %}
{% block left_content %}
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-fetch.v1.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<h3>Left content goes here.</h3>
<div id="chart"></div>
<script>
    var lineData = [];

    fetch("/price/data").then(response => {
        return response.json()
    }).then(data => {
        Object.keys(data).forEach(d => {
            let dat = {
                date: new Date(d),
                cost: data[d]
            };
            lineData.push(dat);
        });
        lineData.sort(function (a, b) {
            return new Date(b.date) - new Date(a.date);
        });

        console.log(lineData);

        var height = 500;
        var width = 500;
        var hEach = 40;

        var margin = { top: 50, right: 50, bottom: 50, left: 50 };

        width = width - margin.left - margin.right;
        height = height - margin.top - margin.bottom;

        var svg = d3.select('#chart').append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        // set the ranges
        var x = d3.scaleTime().range([0, width]);
        x.domain(d3.extent(lineData, function (d) { return d.date; }));


        var y = d3.scaleLinear().range([height, 0]);


        y.domain([d3.min(lineData, function (d) { return d.cost; })]);

        var valueline = d3.line()
            .x(function (d) { return x(d.date); })
            .y(function (d) { return y(d.cost); })
            .curve(d3.curveMonotoneX);

        svg.append("path")
            .data([lineData])
            .attr("class", "line")
            .attr("d", valueline);


        var xAxis_woy = d3.axisBottom(x).tickFormat(d3.timeFormat("%Y-%m-%d")).tickValues(lineData.map(d => d.date));

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis_woy);

        //  Add the Y Axis
         svg.append("g").call(d3.axisLeft(y));

        svg.selectAll(".dot")
            .data(lineData)
            .enter()
            .append("circle") // Uses the enter().append() method
            .attr("class", "dot") // Assign a class for styling
            // .attr("cx", function (d) { return x(d.date) })
            // .attr("cy", function (d) { console.log(y(d.cost)); return y(d.cost) })
            // .attr("r", 5);


        // svg.selectAll(".text")
        //     .data(lineData)
        //     .enter()
        //     .append("text") // Uses the enter().append() method
        //     .attr("class", "label") // Assign a class for styling
        //     .attr("x", function (d, i) { return x(d.date) })
        //     .attr("y", function (d) { return y(d.cost) })
        //     .attr("dy", "-5")
        //     .text(function (d) { return d.cost; });

        // svg.append('text')
        //     .attr('x', 10)
        //     .attr('y', -5)
        //     .text('Almaty');




    })




</script>

{% endblock %}
{% block right_content %}
<h1>The current price is ${{ price }} per ethereum.</h1>
{% endblock %}